<nav>
  <ul class="menu">
    <li>
     <img src="../../../assets/logo.png" class="logo">
    </li>
    <li class="item button secondary"><p>Título aqui</p></li>
    <li>
      <form method="post">
      <a>Logout</a>
      </form>
    </li>
  </ul>
</nav>

<div class="container" style="margin: 40px 10px;">
  <div class="card-container">
    <div *ngFor="let obj of data"></div>
      <div class="card" >
          <h2 style="text-align: center;">Resumo Global de Covid</h2><br><br>
          <h4>Novos Casos Confirmados: <strong>{{data.Global.NewConfirmed}}</strong></h4>
          <h4>Total de Casos Confirmados: <strong>{{data.Global.TotalConfirmed}}</strong></h4>
          <h4>Novas Mortes: <strong>{{data.Global.NewDeaths}}</strong></h4>
          <h4>Total de Mortes: <strong>{{data.Global.TotalDeaths}}</strong></h4>
          <h4>Nº de Casos Recuperados: <strong>{{data.Global.NewRecovered}}</strong></h4>
          <h4>Total de casos Recuperados: <strong>{{data.Global.TotalRecovered}}</strong></h4>
    </div>

        <div class="card">
          <h2 style="text-align: center;">Realize comparação entre países</h2><br><br>
            <div style="text-align: center;">
              <p-dropdown [options]="paises" optionLabel="Selecione um país"></p-dropdown>
                <!-- <option *ngFor="let country of resumoDados!.Countries" [value]="country.CountryCode"></option> -->
              | <p-dropdown optionLabel="name"></p-dropdown>
            </div>
            <div style="text-align: center; margin: 15px 0;">
            <button pButton class="p-button-success">Comparar</button>
            </div>
        </div>
        <div class="card">
          <h2 style="text-align: center;">Situação no Brasil</h2><br><br>
          <h4>Total de Casos Confirmados: <strong>{{countryDados?.TotalConfirmed}}</strong></h4>
          <h4>Novos Casos Confirmados: <strong>{{countryDados?.NewConfirmed}}</strong></h4>
          <h4>Total de Mortes: <strong>{{countryDados?.TotalDeaths}}</strong></h4>
        </div>

  </div>
</div>
