<router-outlet></router-outlet>
<div class="sidenav">
  <div class="login-main-text">
     <h2><strong>Covid 19</strong><br> Projeto - Planisa</h2><br><br>
     <p>Faça login ou clique em registre-se aqui para acessar.</p>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form>
          <!-- input user -->
          <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText type="email" placeholder="Username" />
           </div>
        <!-- input password -->
        <div class="p-inputgroup" style="margin: 20px 0;">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input pInputText type="password"/>
         </div>

           <p-button styleClass="p-button-primary" style="margin: 0 15px;">Entrar</p-button>
           <p-button styleClass="p-button-success" (click)="openDialog()">Registre-se</p-button>

        </form>
     </div>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Cadastro Novo Usuário" [(visible)]="visible"  [style]="{ width: '50vw', height: '50vh' }" [draggable]="false" [resizable]="false">
      <form>
            <div class="p-inputgroup" style="margin: 20px 0;">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
              </span>
              <input pInputText type="email" placeholder="Nome: Joe Doe " />
            </div>

            <div class="p-inputgroup" style="margin: 20px 0;">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-at"></i>
              </span>
              <input pInputText type="email" placeholder="E-mail: joe@mail.com" />
            </div>


            <div class="p-inputgroup" style="margin: 20px 0;">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-lock"></i>
              </span>
              <input pInputText type="password" placeholder="Username" />
            </div>
            <div class="center"></div>
            <p-button styleClass="p-button-success">Finalizar Cadastro</p-button>
      </form>
  </p-dialog>
</div>
